backend/.env
frontend/.env
backend/frontend/.env
Miqass.env
.local-secrets/
.cloudflared/*
!.cloudflared/config.yml

node_modules/
backend/node_modules/
backend/frontend/node_modules/

dist/
backend/frontend/dist/
