VITE_BASE_URL=http://localhost:5000/api
VITE_ONESIGNAL_APP_ID=df2b3be8-ac20-4e4b-9f52-fad5648afd2b
VITE_CANONICAL_ORIGIN=https://www.miqass.app
VITE_ONESIGNAL_PRIMARY_ORIGIN=https://www.miqass.app
VITE_ONESIGNAL_ALLOWED_ORIGINS=https://www.miqass.app
